<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <title> About </title>
</head>


<body>
    {{>header}}
    <img src="{{ imgSrc }}" />


    {{>footer}}
</body>
</html>